body {
  font-family: Arial;
  text-align: center;
  background: #f5f5f5;
  padding: 40px;
}

input {
  padding: 10px;
  width: 220px;
}

button {
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
}

h1 {
  color: #2c7a7b;
}
